@tailwind base;
@tailwind components;
@tailwind utilities;


.input-dark {
@apply bg-neutral-800 border border-neutral-700 text-neutral-100 rounded-full px-4 py-2 focus:outline-none focus:ring-2 focus:ring-neutral-500;
}
